.dropdown {
  width: 100%;
  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px 0 12px;
    background-color: #ff6060;
    color: white;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    h3 {
      font-size: 13px;
    }
  }
}

.chevron {
  width: 20px;
}
