.dropdown {
  width: 100%;
  margin: 20px auto 0;
  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px 0 12px;
    background-color: #ff6060;
    color: white;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  .dropdownText {
    padding: 18px 18px 18px;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    p {
      font-size: 12px;
      color: #ff6060;
    }
    li {
      list-style-type: none;
      font-size: 12px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 85%;
    .dropdownHeader {
      height: 40px;
    }
    .dropdownText {
      padding: 25px 18px 18px;
      p {
        font-size: 24px;
      }
      li {
        font-size: 24px;
      }
    }
  }
}

.chevron {
  width: 20px;
}
