.main {
  margin-top: 16px;
  @media screen and (min-width: $desktop) {
    margin-top: 59px;
  }
}

.gallery {
  border-radius: 25px;
  background-color: transparent;
  width: 90%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (min-width: $desktop) {
    margin: 43px auto 0;
    background-color: #f6f6f6;
    margin-bottom: 59px;
    padding-top: 30px;
  }
}
