.aboutPage {
  margin-top: 15px;
  width: 100%;
  .aboutDropdown {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    .dropdown {
      .dropdownHeader {
        h3 {
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }
}
