@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button,
a {
  cursor: pointer;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.banner {
  position: relative;
  height: 223px;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.banner .homeTitle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 16px;
}
.banner .homeTitle h2 {
  width: 71%;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .banner {
    border-radius: 25px;
  }
  .banner .homeTitle {
    justify-content: center;
  }
  .banner .homeTitle h2 {
    font-size: 48px;
  }
}

.imgHome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/src/assets/imghome.png");
  background-size: cover;
  background-position: center;
}

.imgAbout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/src/assets/imgAbout.png");
  background-size: cover;
  background-position: center;
}

.home {
  height: 111px;
}
@media screen and (min-width: 650px) {
  .home {
    height: 223px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto 0;
  max-width: 1240px;
  width: 90%;
}
.header .header-logo {
  height: 47px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 650px) {
  .header {
    margin: 40px auto 0;
  }
  .header .header-logo {
    height: 68px;
  }
}

.navbar {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar .nav-link {
  margin-left: 10px;
  color: #ff6060;
}
.navbar .nav-link.active {
  border-bottom: 1px solid #ff6060;
}
@media screen and (min-width: 650px) {
  .navbar {
    font-size: 24px;
  }
  .navbar .nav-link {
    margin-left: 50px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 66px 0px 29px;
  background-color: black;
  height: 209px;
  width: 100%;
}
footer .logo {
  margin: 0;
  padding: 0;
}
footer h3 {
  margin-top: 26px;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  footer {
    margin-top: 64px;
  }
  footer h3 {
    margin: 40px 0px 0px;
    color: white;
    font-size: 24px;
  }
}

.main {
  margin-top: 16px;
}
@media screen and (min-width: 650px) {
  .main {
    margin-top: 59px;
  }
}

.gallery {
  border-radius: 25px;
  background-color: transparent;
  width: 90%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 650px) {
  .gallery {
    margin: 43px auto 0;
    background-color: #f6f6f6;
    margin-bottom: 59px;
    padding-top: 30px;
  }
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-height: 255px;
  box-sizing: border-box;
  margin: 22px auto 0;
  border-radius: 10px;
}
@media screen and (min-width: 650px) {
  .card {
    width: 340px;
    height: 340px;
    margin-bottom: 50px;
  }
}
.card .imgLodging {
  height: 100%;
}
.card .title {
  position: absolute;
  z-index: 5;
  margin: 0px 20px 15px;
  bottom: 0px;
  max-width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.aboutPage {
  margin-top: 15px;
  width: 100%;
}
.aboutPage .aboutDropdown {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
.aboutPage .aboutDropdown .dropdown .dropdownHeader h3 {
  font-size: 13px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .aboutPage {
    margin-top: 59px;
  }
  .aboutPage .aboutDropdown .dropdown .dropdownHeader h3 {
    font-size: 24px;
  }
}

.errorPage {
  margin: 120px auto 0px;
  padding: 0 10px;
  height: 100vh;
  text-align: center;
  color: #ff6060;
}
.errorPage h1 {
  margin: 0 auto 10px;
  font-size: 96px;
  font-weight: 700;
}
.errorPage p {
  margin: 0 auto 133px;
  font-size: 18px;
  font-weight: 500;
}
.errorPage .errorLink {
  margin: 0;
  color: #ff6060;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .errorPage h1 {
    margin: 0 auto 36px;
    font-size: 288px;
  }
  .errorPage p {
    margin: 0 auto 182px;
    font-size: 36px;
  }
  .errorPage .errorLink {
    font-size: 18px;
  }
}

.dropdown {
  width: 100%;
  margin: 20px auto 0;
}
.dropdown .dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px 0 12px;
  background-color: #ff6060;
  color: white;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown .dropdownText {
  padding: 18px 18px 18px;
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
}
.dropdown .dropdownText p {
  font-size: 12px;
  color: #ff6060;
}
.dropdown .dropdownText li {
  list-style-type: none;
  font-size: 12px;
}
@media screen and (min-width: 650px) {
  .dropdown {
    width: 85%;
  }
  .dropdown .dropdownHeader {
    height: 40px;
  }
  .dropdown .dropdownText {
    padding: 25px 18px 18px;
  }
  .dropdown .dropdownText p {
    font-size: 24px;
  }
  .dropdown .dropdownText li {
    font-size: 24px;
  }
}

.chevron {
  width: 20px;
}

.lodgingPage {
  margin: 20px auto 0;
  width: 90%;
  max-width: 1280px;
  color: #ff6060;
}
@media screen and (min-width: 650px) {
  .lodgingPage {
    margin-top: 59px;
  }
}
.lodgingPage .presentation {
  margin-top: 15px;
}
.lodgingPage .presentation h2 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .lodgingPage .presentation h2 {
    font-size: 36px;
  }
}
.lodgingPage .presentation p {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .lodgingPage .presentation p {
    font-size: 18px;
  }
}
.lodgingPage .landlord {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.lodgingPage .landlord .landlordInformation {
  display: flex;
  align-items: center;
}
.lodgingPage .landlord .landlordInformation .landlordName {
  text-align: end;
}
.lodgingPage .landlord .landlordInformation .landlordName p {
  padding-top: 2px;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .lodgingPage .landlord .landlordInformation .landlordName p {
    font-size: 18px;
  }
}
.lodgingPage .landlord .landlordImage {
  margin-left: 10px;
  height: 32px;
}
@media screen and (min-width: 650px) {
  .lodgingPage .landlord .landlordImage {
    height: 64px;
  }
}
.lodgingPage .landlord .landlordImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.description .dropdownHeader h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .description .dropdownHeader {
    height: 45px;
  }
  .description .dropdownHeader h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 650px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .description .dropdown {
    width: 45%;
    margin: 0;
  }
  .description .dropdown .dropdownText p,
.description .dropdown .dropdownText li {
    font-size: 18px;
  }
}

.carousel {
  position: relative;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 650px) {
  .carousel {
    height: 415px;
  }
}

.next {
  position: absolute;
  width: 15px;
  top: 45%;
  right: 6px;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .next {
    width: 30px;
  }
}

.previous {
  position: absolute;
  width: 15px;
  top: 45%;
  left: 6px;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .previous {
    width: 30px;
  }
}

.carouselImage {
  height: 100%;
}
.carouselImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.tags .tag {
  display: flex;
  padding: 0px 22px;
  height: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 10px;
  margin-bottom: 5px;
  color: white;
  background-color: #ff6060;
}
@media screen and (min-width: 650px) {
  .tags .tag {
    height: 25px;
  }
}
.tags .tag span {
  margin: auto;
}
@media screen and (min-width: 650px) {
  .tags .tag span {
    font-size: 14px;
  }
}

.rating img {
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 650px) {
  .rating img {
    height: 30px;
  }
}/*# sourceMappingURL=main.css.map */