.banner {
  position: relative;
  height: 223px;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;

  .homeTitle {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0 16px;
    h2 {
      font-size: 24px;
      font-weight: 500;
    }
  }
}

.imgHome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/assets/imghome.png");
  background-size: cover;
  background-position: center;
}

.imgAbout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/assets/imgAbout.png");
  background-size: cover;
  background-position: center;
}

.home {
  height: 111px;
  border-radius: 10px;
}
