.navbar {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  .nav-link {
    margin-left: 10px;
    color: #ff6060;
    &.active {
      border-bottom: 1px solid #ff6060;
    }
  }
}
