.errorPage {
  margin: 120px auto 0px;
  padding: 0 10px;
  height: 100vh;
  text-align: center;
  color: #ff6060;
  h1 {
    margin: 0 auto 10px;
    font-size: 96px;
    font-weight: 700;
  }
  p {
    margin: 0 auto 133px;
    font-size: 18px;
    font-weight: 500;
  }
  .errorLink {
    margin: 0;
    color: #ff6060;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
  }
  @media screen and (min-width: $desktop) {
    h1 {
      margin: 0 auto 36px;
      font-size: 288px;
    }

    p {
      margin: 0 auto 182px;
      font-size: 36px;
    }

    .errorLink {
      font-size: 18px;
    }
  }
}
