.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-height: 255px;
  box-sizing: border-box;
  margin: 22px auto 0;
  border-radius: 10px;
  @media screen and (min-width: $desktop) {
    width: 340px;
    height: 340px;
    margin-bottom: 50px;
  }

  .imgLodging {
    height: 100%;
  }
  .title {
    position: absolute;
    z-index: 5;
    margin: 0px 20px 15px;
    bottom: 0px;
    max-width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}
